WebApplication1/SitioTendencia/Connected Services/ServiceReference1/LabService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PedirPermiso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedirPermisoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PedirPermisoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PedirPermisoSoapIn">
    <wsdl:part name="parameters" element="tns:PedirPermiso" />
  </wsdl:message>
  <wsdl:message name="PedirPermisoSoapOut">
    <wsdl:part name="parameters" element="tns:PedirPermisoResponse" />
  </wsdl:message>
  <wsdl:portType name="LabServiceSoap">
    <wsdl:operation name="PedirPermiso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica si la persona y la página poseen permisos.</wsdl:documentation>
      <wsdl:input message="tns:PedirPermisoSoapIn" />
      <wsdl:output message="tns:PedirPermisoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabServiceSoap" type="tns:LabServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PedirPermiso">
      <soap:operation soapAction="http://tempuri.org/PedirPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LabServiceSoap12" type="tns:LabServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PedirPermiso">
      <soap12:operation soapAction="http://tempuri.org/PedirPermiso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabService">
    <wsdl:port name="LabServiceSoap" binding="tns:LabServiceSoap">
      <soap:address location="http://localhost:51592/LabService.asmx" />
    </wsdl:port>
    <wsdl:port name="LabServiceSoap12" binding="tns:LabServiceSoap12">
      <soap12:address location="http://localhost:51592/LabService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>